
Scripts/

*.cfg

Lib/site-packages/setuptools/

Lib/site-packages/setuptools-54.2.0.dist-info/

Lib/site-packages/pkg_resources/tests/data/my-test-package-source/

Lib/site-packages/pkg_resources/extern/__pycache__/

Lib/site-packages/pkg_resources/extern/

Lib/site-packages/pkg_resources/_vendor/

Lib/site-packages/_distutils_hack/

Lib/site-packages/
